#buttons{
	float: left;
}

#buttons input{
	padding: 5px;
	margin: 5px;
}

img {
	position: absolute;
	float: right;
	width: 500px;
	height: : 500px;
	/*padding-right: 100px;*/
}

.round-corners{
	border-radius: 25%;
}

.straight-corners{
	border-radius: 0;
}

.red-border{
	border: 3px solid red;
}

.no-red-border{
	border: none;
}