@font-face {
font-family: "BitterSweet";
src: url(fonts/BitterSweet.ttf) format("truetype");
}

@font-face {
font-family: "CloisterBlack";
src: url(fonts/CloisterBlack.ttf) format("truetype");
}

@font-face {
font-family: "Seagram tfb";
src: url(fonts/Seagram_tfb.ttf) format("truetype");
}

* {
	padding: 0;
	margin: 0;
}

table tr td{
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	height: 100px;
}

table{
	width: 1200px;
}

figure{
	width: 100px;
	display: inline-block;
}

img{
	width: 100%;
	opacity: 0.5;
}

img:hover{
	opacity: 1;
}

.text{
	width: 200px;
	display: inline-block;
  /*	vertical-align: middle;*/
}

.title{
	font-family: "Seagram tfb";
	font-size: 25px;
	margin: 0px;
}

.body-text{
	font-family: "CloisterBlack";
}